/* Estilo cabeçario da pagina */
header {
	background: url("aa.jpg");
	padding: 20px 250px;
}

img {
    width: 30%;
}

.caixa {
	position: relative;
	width: 940px;
	margin: 0 auto;
}

nav {
	position: absolute;
	top: 155px;
	right: 0;
}
nav li {
	display: inline;
	margin: 0 0 0 15px;
    padding: 0 45px;
}
nav a {
	text-transform: uppercase;
	color: white;
	font-weight: bold;
	font-size: 22px;
	text-decoration: none;
}
nav a:hover	{
	color: #C32f27;
	text-decoration: underline;
}

/* Estilo Corpo da pagina */

.input-padrao {
	display: block;
    margin: 0 0 20px;
    padding: 10px 15px;
    width: 50%;
}

main {
    width: 940px;
    margin: 0 auto;
}

form {
    margin: 40px 0;
}

form label, form legend {
    display: block;
	font-size: 20px;
    margin: 0 0 20px;    
}

.checkbox {
	margin: 20px 0;
}

.enviar {
	width: 40%;
	padding: 10px 0 10px;
	background: rgb(60, 44, 201);
	color: white;
	font-weight: bold;
	font-size: 16px;
	border: none;
	border-radius: 100%;
	transition: 1s all;
	cursor: pointer;
}

.enviar:hover {
	background: rgb(3, 2, 15);
	transform: scale(1.3);

}

.horario-funcionamento {
	left: 0;
	padding: 0 15px 25px;
}

table {
	margin: 20px 0 40px;
}

thead {
	text-align: center;
	background: rgb(42, 25, 194);
	font-weight: bold;
	font-size: 18px;
	border: 1px solid black;
	color: white;
	
}

td, th {
	padding: 5px 5px 5px;
	border: 1px solid black;
}

/* Estilo rodapé da pagina */

footer {
	text-align: center;
	background: url("p.png");
	padding: 15px ;
}

.img-rodape {
    width: 20%;
	height: 20%;
}

.copyright {
	color: white;
	font-size: 13px;
	margin: 20px 0 0;
}

/* Estilo produtos */

.produtos {

}

.produtos h2 {

}

.produtos li {

}

.produto-descricao {

}

.produto-preco {

}
